<div class="productsPageWrapper">
    <div class="ProductsContent">
        <h1>Welcome to the Cricket Tournament</h1>
        <div class="boxWrapper firstBoxWrapper">
            <div routerLink='/countries' class="box">
                <h3>Countries</h3>
            </div>
            <div routerLink='/teams' class="box">
                <h3>Teams</h3>
            </div>
            <div routerLink='/venues' class="box">
                <h3>Venues</h3>
            </div>
        </div>
        <div class="boxWrapper">
            <div routerLink='/matches' class="box">
                <h3>Matches</h3>
            </div>
            <div routerLink='/table' class="box">
                <h3>Table</h3>
            </div>
        </div>
    </div>
</div>